

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

*{
    margin: 0;
    padding: 0;
    font:inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,body {
  height: 100%;
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
    --fs-nav :2rem;
    --ff-nav :'Ubuntu', sans-serif; 

    --fp-size-100 : 0.625rem;
    --fp-size-200 : 0.75rem;
    --fp-size-300 : 0.875rem;
    --fp-size-400 : 1rem;
    --fp-size-500 : 1.125rem;
    --fp-size-600 : 1.25rem;
    --fp-size-700 : 1.5rem;
    --fp-size-800 : 2rem;
    --fp-size-900 : 3rem;

    --fp-size-1000 : 8rem;


    --nav-bg : rgb(38, 22, 101);
    --nav-color : white;
    
    --body-bg : rgb(26, 12, 81);
}
body{
    overflow:-moz-hidden-unscrollable;
    background-color: var(--body-bg);
}


.nav{
    background-color: var(--nav-bg) ;
    opacity: 0.97;
    min-width: 100vw;
    min-height: 130px;
    box-shadow:  0 4px 4px rgba(0,0,0,0.5);
}

.trade{
    position: absolute;
    height: var(--fp-size-300);
    width: var(--fp-size-400);
    left: 290px;
    top: 30px;
    color: white;
}

.nav .flex{
    display: flex;
    justify-content: space-between;
}

.nav ul{
    display: flex;
    gap: var(--fp-size-900);
    margin-top: 3.125rem;
    margin-right: var(--fp-size-200);
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: var(--fp-size-600);   
    padding: 0 var(--fp-size-100);
    
}

.nav ul li a:hover{
    border-radius: var(--fp-size-100);
    border-color: white;
    color: var(--nav-bg);
    background-color: var(--nav-color);
    font-size: var(--fp-size-600);
}

@media (max-width:1000px){
    .flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav ul{
        gap: var(--fp-size-900);
        margin-bottom: 10px;
    }
    
}
.box2 img{
    min-height: 400px;
    width:400px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    gap:var(--fp-size-300);
}
.box1 .even-columns{
    font-size: var(--fp-size-400);
    position: relative;
    top:100px;
    text-align: center;
    line-height: 60px;
}
.even-columns h2{
    font-weight: bold;
    font-size: var(--fp-size-800);
    color: antiquewhite;
}
.even-columns p{
    color: antiquewhite;
    font-size: var(--fp-size-400);
}

.engine {
    border: none;
    outline: none;
    border-radius: var(--fp-size-100);
    justify-content: center;
    height: 3.75rem;
    width: 18.75rem;
    color: var(--body-bg);
    font-size: var(--fp-size-600);
    padding-left: 10px;
    font-family: var(--ff-nav) ;
    
    
}
.engine::placeholder{
    color: var(--body-bg);
    font-family: var(--ff-nav) ;
}

.box1 .btn{
    position: relative;
    height: 50px;
    top:2px;
    left:15px;
    padding: 0 15px;
    border:none;
    outline: none;
    border-radius: var(--fp-size-100);
    color: whitesmoke;
    font-size: 13px;
    font-weight: bold;
    background-color: var(--nav-bg);
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}
.btn span{
    position: relative;
    bottom: 3.5px;
    text-transform: uppercase;
}
.btn:hover {
    filter: brightness(80%);
}

.box2 img{
    position: relative;
    top:40px;
}

@media (max-width:1000px){
    .container{
        display: flex;
        flex-direction: column;
        gap:var(--fp-size-1000);
    }
    .box1 p{
        padding: 0 var(--fp-size-900);
    }
    .box2 img{
        position: relative;
        left: 50%;
        right: 50%;
        transform: translate(-50%,-10%);
    }
}